*.class

simulation_logs.txt
velocity_log*
debug_log*
debug.log

AgentExperience*
TaskAndInternals*

/bin
/output

# Package Files #
*.jar
*.war
*.ear

/velocity.log
/velocity.log.1
/input_a1.csv
